.tile-component {
  display: inline-block;
  margin: -8px -5px 0 0;
}

.tile-component.reset {
  opacity: .5;
}

<<<<<<< HEAD
.cylinder {
  position: relative;
  background-color: #ED8E3B;
  width: 150px;
  height: 150px;
  margin: 28px 12px;
}
.cylinder:before {
  content: "";
  position: absolute;
  left: 0;
  background-color: #d76f14;
  width: 150px;
  height: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: rotatex(70deg);
  -o-transform: rotatex(70deg);
  -ms-transform: rotatex(70deg);
  -webkit-transform: rotatex(70deg);
  transform: rotatex(70deg);
  moz-transform-origin: top center;
  -o-transform-origin: top center;
  -ms-transform-origin: top center;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  top: -25px;
}
.cylinder:after {
  content: "";
  position: absolute;
  display: block;
  background-color: #ED8E3B;
  width: 150px;
  height: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: rotatex(70deg);
  -o-transform: rotatex(70deg);
  -ms-transform: rotatex(70deg);
  -webkit-transform: rotatex(70deg);
  transform: rotatex(70deg);
  moz-transform-origin: botton center;
  -o-transform-origin: botton center;
  -ms-transform-origin: botton center;
  -webkit-transform-origin: botton center;
  transform-origin: botton center;
  top: 75px;
  z-index: -1;
  /*box-shadow: 10px 0px 20px #4a4a4a;*/
}

.letter {
  height: 100%;
  font-size: 125px;
  font-weight: bold;
  padding-top: 0.15em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-shadow: #d76f14 3px -4px 0;
}

.x .letter:before {
  content: 'X';
  position: absolute;
}

.o .letter:before {
  content: 'O';
  position: absolute;
}
=======
/*.x {
  background-image: url('../images/x.svg');
  background-repeat: no-repeat;
  background-position: 50%;
}

.o {
  background-image: url('../images/o.svg');
  background-repeat: no-repeat;
  background-position: 50%;
}*/
>>>>>>> 1e6981263267765fc60a47ee76f945e5aa5551b6

@keyframes vib {
  0% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50%, 100% {
    -moz-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

body {
  background-color: #666;
  text-align: left;
}
body h1 a {
  font-size: 50px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}
body h1 a:hover {
  color: white;
}

.cylinder {
  position: relative;
  background-color: #ED8E3B;
  width: 150px;
  height: 150px;
  margin: 28px 12px;
}
.cylinder:before {
  content: "";
  position: absolute;
  left: 0;
  /*display: inline;*/
  background-color: #d76f14;
  width: 150px;
  height: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: rotatex(70deg);
  -o-transform: rotatex(70deg);
  -ms-transform: rotatex(70deg);
  -webkit-transform: rotatex(70deg);
  transform: rotatex(70deg);
  moz-transform-origin: top center;
  -o-transform-origin: top center;
  -ms-transform-origin: top center;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  top: -25px;
}
.cylinder:after {
  content: "";
  position: absolute;
  display: block;
  background-color: #ED8E3B;
  width: 150px;
  height: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: rotatex(70deg);
  -o-transform: rotatex(70deg);
  -ms-transform: rotatex(70deg);
  -webkit-transform: rotatex(70deg);
  transform: rotatex(70deg);
  moz-transform-origin: botton center;
  -o-transform-origin: botton center;
  -ms-transform-origin: botton center;
  -webkit-transform-origin: botton center;
  transform-origin: botton center;
  top: 75px;
  z-index: -1;
  /*box-shadow: 10px 0px 20px #4a4a4a;*/
}

.letter {
  height: 100%;
  font-size: 125px;
  font-weight: bold;
  padding-top: 0.15em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-shadow: #d76f14 3px -4px 0;
}

.x .letter:before {
  content: 'X';
  position: absolute;
}

.o .letter:before {
  content: 'O';
  position: absolute;
}

@keyframes vib {
  0% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50%, 100% {
    -moz-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
